<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/client/layout/layout}">

<head>
    <th:block th:insert="~{template/client/fragments/adminblock :: config}"></th:block>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/css/admin.css">
</head>

<th:block layout:fragment="content">
    <div class="container">
    <h2>회원 목록</h2>
    <table border="1">
        <thead>
            <tr>
                <th>회원 ID</th>
                <th>이름</th>
                <th>이메일</th>
                <th>닉네임</th>
                <th>가입 날짜</th>
                <th>프로필 이미지</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.customerId}"></td>
                <td th:text="${customer.customerName}"></td>
                <td th:text="${customer.customerEmail}"></td>
                <td th:text="${customer.customerNickname}"></td>
                <td th:text="${customer.customerCreateDate}"></td>
                <td>
                    <img th:src="${customer.customerProfileImage != null ? customer.customerProfileImage : '/images/default-profile.png'}"
                         alt="프로필 이미지" width="50">
                </td>
            </tr>
        </tbody>
    </table>
</div>
	</th:block>
</html>
