<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>차단 해제</title>
</head>
<body>
      <h1>회원 차단 해제</h1>
    <p>ID: <span th:text="${customerId}"></span> 회원의 차단을 해제하시겠습니까?</p>

    <form action="/admin/info/unbanCustomer" method="post">
        <input type="hidden" name="customerId" th:value="${customerId}" />
        <button type="submit">해제</button>
    </form>
    <a th:href="@{/admin/info/memberDetail(customerId=${customerId})}">취소</a>
</body>
</html>