<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/client/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>회원 목록</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/info/memberList.css}">
</head>
<body>
<th:block layout:fragment="content">
    <h1>회원 목록</h1>

    <!-- 검색 폼 -->
    <div class="search-form-container">
        <form th:action="@{/admin/info/members}" method="get">
            <select name="searchType">
                <option value="id" th:selected="${param.searchType == 'id'}">ID</option>
                <option value="nickname" th:selected="${param.searchType == 'nickname'}">닉네임</option>
                <option value="all" th:selected="${param.searchType == 'all'}">ID + 닉네임</option>
            </select>
            <input type="text" name="searchKeyword" th:value="${param.searchKeyword}" placeholder="검색어 입력">
            <input type="hidden" name="size" th:value="${members.size}">
            <input type="hidden" name="sort" th:value="${param.sort}">
            <button type="submit">검색</button>
        </form>
    </div>

    <table>
       <thead>
            <tr>
                <th>회원ID</th>
                <th>닉네임</th>
                <th>이름</th>
                <th>이메일</th>
                <th>가입일</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="member : ${members}">
                <td><a th:href="@{/admin/info/memberDetail(customerId=${member.customerId})}" th:text="${member.customerId}"></a></td>
                <td th:text="${member.customerNickname}"></td>
                <td th:text="${member.customerName != null and #strings.length(member.customerName) > 1} ? ${#strings.substring(member.customerName, 0, 1) + #strings.repeat('*', #strings.length(member.customerName) - 1)} : (member.customerName?: '')"></td>
                <td th:text="${member.customerEmail != null and #strings.length(member.customerEmail) > 4} ? ${#strings.substring(member.customerEmail, 0, 4) + #strings.repeat('*', #strings.length(member.customerEmail) - 4)} : (member.customerEmail?: '')"></td>
                <td th:text="${#temporals.format(member.customerCreateDate, 'yy년 M월 d일')}"></td>
            </tr>
        </tbody>
    </table>
    <!-- 검색 결과 없음 메시지 -->
    <p th:if="${members.isEmpty()}" class="no-results">검색 결과가 없습니다.</p>


    <!-- 페이징 처리 -->
     <div class="pagination" th:if="${members.totalPages > 1}">
        <!--/*  첫 페이지 */-->
        <a th:if="${members.number > 0}" th:href="@{/admin/info/members(page=0, size=${members.size}, sort=${param.sort} , searchType=${param.searchType}, searchKeyword=${param.searchKeyword})}">처음</a>
        <a th:unless="${members.number > 0}" class = "disabled">처음</a>

        <!--/* 이전 페이지 */-->
        <a th:if="${members.hasPrevious()}" th:href="@{/admin/info/members(page=${members.number - 1}, size=${members.size}, sort=${param.sort}, searchType=${param.searchType}, searchKeyword=${param.searchKeyword})}">이전</a>
        <a th:unless="${members.hasPrevious()}" class = "disabled">이전</a>

        <!--/* 페이지 번호 목록 (10개씩) */-->
        <th:block th:with="start=${(members.number / 10) * 10}, end=${members.totalPages > 10 ? (((members.number / 10) * 10 + 9) > members.totalPages - 1 ? members.totalPages -1 : (members.number / 10) * 10 + 9) : members.totalPages - 1}">
            <th:block th:each="page : ${#numbers.sequence(start, end)}">
                <a th:if="${page != members.number}" th:href="@{/admin/info/members(page=${page}, size=${members.size}, sort=${param.sort}, searchType=${param.searchType}, searchKeyword=${param.searchKeyword})}" th:text="${page + 1}"></a>
                <a th:if="${page == members.number}" th:text="${page + 1}" class="current-page"></a>
            </th:block>
        </th:block>

        <!--/* 다음 페이지 */-->
        <a th:if="${members.hasNext()}" th:href="@{/admin/info/members(page=${members.number + 1}, size=${members.size}, sort=${param.sort}, searchType=${param.searchType}, searchKeyword=${param.searchKeyword})}">다음</a>
        <a th:unless="${members.hasNext()}" class = "disabled">다음</a>

        <!--/* 마지막 페이지 */-->
        <a th:if="${members.number < members.totalPages -1}" th:href="@{/admin/info/members(page=${members.totalPages - 1}, size=${members.size}, sort=${param.sort}, searchType=${param.searchType}, searchKeyword=${param.searchKeyword})}">마지막</a>
        <a th:unless="${members.number < members.totalPages -1}" class = "disabled">마지막</a>
    </div>

    <div class="button-container">
        <a href="/admin/info/main" class="main-button">메인화면으로</a>
    </div>
</th:block>
</body>
</html>