<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" class="h-100" data-bs-theme="auto">
	<head>
		<th:block th:insert="~{template/client/fragments/block :: config}"></th:block>
	</head>
	<body>
		<main>
	  		<div class="container py-4">
    			<header class="pb-3 mb-4">
    				<th:block th:insert="~{template/client/fragments/block :: header}"></th:block>
    			</header>
    		
    			<th:block layout:fragment="content"></th:block>
    		
    			<footer class="pt-3 mt-4 text-body-secondary border-top">
					&copy; 2025 YAM
				</footer>
			</div>    
		</main>
		
		<script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
		<script src="/js/jquery-3.7.1.min.js"></script>
		<script src="/js/common.js"></script>
		<th:block layout:fragment="script"></th:block>
	</body>
</html>