<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>결제 완료</title>
</head>
<body>
    <h1>결제가 완료되었습니다.</h1>
    <p>결제 금액: <span th:text="${paymentAmount}"></span>원</p>
    <p>주문 번호: <span th:text="${merchantPayKey}"></span></p>
     <p>paymentId: <span th:text="${paymentId}"></span></p> <!-- 네이버 페이 paymentId 표시 -->
    <p>resultCode: <span th:text="${resultCode}"></span></p>

    <!-- 예약 페이지로 돌아가는 버튼 -->
    <button onclick="goToReserveForm()">예약 페이지로 이동</button>

    <script th:inline="javascript">
        function goToReserveForm() {
          var shopId = /*[[${shopId}]]*/ null;
          var reserveDate = /*[[${reserveDate}]]*/ null;
          var reserveTime = /*[[${reserveTime}]]*/ null;
          var guestCount = /*[[${guestCount}]]*/ null;
          var deposit = /*[[${deposit}]]*/ null;


            var url = "/customer/reserve/new?shopId=" + shopId +
                      "&reserveDate=" + reserveDate +
                      "&reserveTime=" + reserveTime +
                      "&guestCount=" + guestCount +
                      "&deposit=" + deposit;


            if (window.opener) {
                window.opener.location.href = url;
                window.close();
            } else {
                location.href = url;
            }
        }
    </script>
</body>
</html>