<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{template/client/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>예약 완료</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/customer/reserve/reserveComplete.css}">
</head>
<body>
<th:block layout:fragment="content">
    <div class="reserve-complete-container">
        <h1>예약이 완료되었습니다.</h1>

        <div>
            <p>예약 장소: <span th:text="${shopName}"></span></p>
            <p>예약 날짜: <span th:text="${#temporals.format(reserveDto.reserveDate, 'yyyy-MM-dd')}"></span></p>
            <p>예약 시간: <span th:text="${#temporals.format(reserveDto.reserveTime, 'HH:mm')}"></span></p>
            <p>예약금: <span th:text="${reserveDto.deposit}"></span></p>
        </div>

         <a th:href="@{/customer/myPage}">
            <button type="button" class="mypage-button">마이페이지</button>
        </a>
    </div>

</th:block>

</body>
</html>