<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>예약 완료</title>
</head>
<body>
    <h1>예약이 완료되었습니다.</h1>

    <div>
        <p>예약 장소 (매장 ID): <span th:text="${reserveDto.shopId}"></span></p>
        <p>예약 날짜: <span th:text="${#temporals.format(reserveDto.reserveDate, 'yyyy-MM-dd')}"></span></p>
        <p>예약 시간: <span th:text="${#temporals.format(reserveDto.reserveTime, 'HH:mm')}"></span></p>
        <p>예약금: <span th:text="${reserveDto.deposit}"></span></p>
    </div>

     <a href="http://localhost:8080/customer/myPage">
        <button type="button">마이페이지</button>
    </a>

</body>
</html>