<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{template/client/layout/layout}">

<head>
    <title>예약하기</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/customer/reserve/reserveForm.css}">
    <!-- 여기 필요한 CSS 추가 -->

    <!-- jQuery 추가 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- 네이버 페이 SDK 추가 -->
    <script src="https://nsp.pay.naver.com/sdk/js/naverpay.min.js"></script>

</head>

<body>
<th:block layout:fragment="content">
	<div class="reserve-form-container">
     <h1>예약 정보</h1>

     <form id="reserveForm">
        <div>
            <label for="customerId">고객 ID:</label>
            <input type="text" id="customerId" name="customerId" th:value="${customerId}" readonly> <!-- customerId는 reserveForm.js에서 처리 -->
        </div>
        <!-- <div>
            <label for="shopNo">매장 ID:</label>
            <input type="text" id="shopNo" name="shopNo" th:value="${shopNo}" readonly>
        </div> -->
        <!-- 매장 번호 (hidden) -->
        <!-- <input type="hidden" th:field="*{shopNo}" id="shopNo" /> -->
        <input type="hidden" id="shopNo" name="shopNo" th:value="${shopNo}" />
        <div>
		    <label for="shopName">매장 이름:</label>  <!-- 레이블 변경 -->
		    <input type="text" id="shopName" name="shopName" th:value="${shopName}" readonly> <!-- shopName 사용 -->
		</div>
        <div>
            <label for="reserveDate">예약 날짜:</label>
            <input type="date" id="reserveDate" name="reserveDate" th:value="${reserveDate}" readonly> <!-- reserveDto.reserveDate -> reserveDate -->
        </div>
        <div>
            <label for="reserveTime">예약 시간:</label>
            <input type="time" id="reserveTime" name="reserveTime" th:value="${reserveTime}" readonly> <!-- reserveDto.reserveTime -> reserveTime -->
        </div>
        <div>
            <label for="guestCount">인원 수:</label>
            <input type="number" id="guestCount" name="guestCount" th:value="${guestCount}" readonly> <!-- reserveDto.guestCount -> guestCount -->
        </div>
        <div>
            <label for="deposit">예약금:</label>
            <input type="number" id="deposit" name="deposit" th:value="${deposit}" readonly> <!-- reserveDto.deposit -> deposit -->
        </div>
        <div>
            <label for="request">요청사항:</label>
            <textarea id="request" name="request"></textarea>
        </div>

        <button type="button" id="naverPayBtn">네이버페이로 결제</button>
        <button type="button" id="submitBtn">예약하기</button>
    </form>

    <span id="errorMessage" style="color: red;"></span> <!-- 에러 메시지용 span -->
    </div>
</th:block>

<th:block layout:fragment="script">
     <script th:src="@{/js/customer/reserve/reserveForm.js}"></script>
</th:block>
</html>