<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{template/client/layout/layout}">
<head>
    <title>회원 가입 성공</title>
</head>
<body>
 <th:block layout:fragment="content">
  <div class = "container">
    <h1>회원 가입 성공</h1>
    <p><span th:text="${customerName}"></span>님, 회원 가입을 축하드립니다!</p>

    <a th:href="@{/customer/login}"><button type="button">로그인 화면으로 이동</button></a>
  </div>
  <link rel="stylesheet" type="text/css" th:href="@{/css/customer/signupSuccess.css}">
 </th:block>
</body>
</html>